 .top-level-menu
  {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  .top-level-menu > li
  {
      position: relative;
      float: left;
      border-right:1px solid black;
      height: 30px;
      width: 150px;
      background-color: aqua; 
  }
  .top-level-menu > li:hover { background: rgb(170, 251, 251); }
  
  .top-level-menu li:hover > ul
  {
      /* On hover, display the next level's menu */
      display: inline;
  }

  /* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

    /* Make the link cover the entire list item-container */
    display: ruby-base;
    color: black;
}
.top-level-menu a:hover { color: black; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: white;
}
.second-level-menu > li:hover { background: aqua; }

.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: white;
}
.third-level-menu > li:hover { background: aqua; }

