ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aqua;
}

li {
    float: left;
    border-right:1px solid black;
}

li a {
    display: ruby-base;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .top-level-menu a:hover {
    background-color: rgb(157, 253, 253);
}

  li.dropdown {
    display: inline-block;
  }
  
.third-level-menu, .second-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: #999999;
}

.third-level-menu > li:hover, .second-level-menu > li:hover, .top-level-menu > li:hover  { background: aqua; }

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #999999;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: #999999;
}

.top-level-menu li:hover > ul
{
    display: inline;
}

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    color: black;
    text-decoration: none;
    padding: 0 0 0 10px;
    display: block;
    line-height: 30px;
}